/* .App {
  display: flex;
  flex-direction: column;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.Heading {
  
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.43);
  border-radius: 3px;
}

.NavBar {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: space-around;
  
  padding: 10px;
  
}

/* .NavLinks {

} */

.CardForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .Login{
} */